.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #337ab7;
}
body{
    background-color: #2F4F4F;
}

.img-text {
    position: relative;
}

.caption {
    position: absolute;
    top: 70%;
    padding-top: 5px;
    padding-left: 50px;
    width: 200px;
    background-color: #337ab7; 
    color: white;
}

.margin {
    margin-right: 10px;
}
